body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.section {
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #6e4b35;
}

img:not(#kontakt img){
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

img:not(#kavárna, #kontakt img){
    max-width: 40%;
}

.menu-item {
    text-align: center;
}

#kontakt ul {
    padding: 0;
    list-style: none;
}

#kontakt img {
    max-width: 4%;
    display: inline-block;
    margin: 0 10px;
}

ul li {
    margin-right: 10px;
}

#uvod .container {
    text-align: center;
}

#akce li{
    margin-bottom: 25px;
    font-weight: bold;
}

#akce p{
    margin-bottom: 35px;
}

.menu-item table {
    margin-top: 120px;
    width: 100%;
    border-collapse: collapse;
}

.menu-item td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.menu-item td:first-child {
    font-weight: bold;
}

.dezerty-nadpis{
    margin-top: 100px;
}

@media screen and (max-width: 425px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 90%;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    img:not(#kontakt img){
        max-width: 90%;
        display: block;
        margin: 0 auto;
    }

    .menu-item table {
        margin-top: 20px; 
        width: 90%; 
        max-width: 400px; 
        margin-left: auto;
        margin-right: auto; 
    }

    .menu-item td {
        padding: 8px; 
    }

    #kontakt img {
        max-width: 10%;
    }
}
